<div class="grid">
  <div *ngFor="let items of navGroup"
       class="photo-element" #myanchor
       (mouseover)="inside = true;"
       (mouseleave)="onMouseLeave($event)">
    <!--<img  [ngStyle]="{'transform': 'scale(1.45, 1.1) translate(' + movementX + 'px, ' + movementY + 'px)'}"-->
    <!--<img src="../../../../assets/images/gallery/{{items.src}}"-->
         <!--alt="">-->

        <div class="photo-bc"
             [style.backgroundImage]="'url(../../../../assets/images/gallery/'+ items.src +')'">

        </div>
  </div>
</div>
