<div class="nav" [class.nav-open]="menuToggle">
  <div class="toggle-ico" (click)="menuToggle = !menuToggle">
  <div class="toggle-ico" >
    <!--<img [src]="menuToggle?'../../../assets/images/nav/logo-black.png':'../../../assets/images/nav/logo-white.png'"-->
          <!--alt="Logo">-->
    <img src="../../../assets/images/nav/logo-black.png"
          alt="Logo">
  </div>
  <div class="nav-component">
    <div class="menu-container">
      <div class="nav-items">
        <div class="item" *ngFor="let items of navGroup">
          <div class="dropdown-ico">
            <div class="lines" *ngIf="items.dropdown"></div>
            <div class="lines" *ngIf="items.dropdown"></div>
          </div>
          <div class="title">{{items.title}}</div>
          <div class="dropdown-group">
            <div class="elem" *ngFor="let elems of items.dropdown" [routerLink]="elems.link" >
              {{elems.title}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
