@import '../../../assets/scss/variables';

:host {
  .hide {
    width: 100%;
    height: 100vh;

    &:before {
      background: rgba(21, 21, 21, 0.5);
      left: 0 !important;
    }

    .menu-container {
      width: 25%;
      height: 100%;

      &:before {
        left: 0 !important;
        background: white;
      }
    }
  }
}

.nav-open {
  z-index: 1;

  .toggle-ico{

    .toggle-ico {
      position: fixed;
      top: 50px;
      left: 45px;
      width: 50px;
      height: 50px;
      background-color: #000000;
      cursor: pointer;
      z-index: 1;

      &:before{
        content: "";
        width: 100%;
        border-top: 3px solid #ff8a00;
        position: absolute;
        top: 48%;
        transform: rotate(45deg);
        transition: all 0.6s ease-in-out 0.1s;
      }

      &:after{
        content: "";
        width: 100%;
        border-top: 3px solid #ff8a00;
        position: absolute;
        top: 48%;
        transform: rotate(-45deg);
        transition: all 0.6s ease-in-out 0.1s;
      }

    }
  }
}

.nav {
  position: absolute;
  width: 100%;
  height: 100vh;

  .toggle-ico {
    position: fixed;
    top: 50px;
    left: 45px;
    width: 50px;
    height: 50px;
    background-color: black;
    cursor: pointer;
    z-index: 1;

    &:before{
      content: "";
      width: 100%;
      border-top: 3px solid #ff8a00;
      position: absolute;
      top: 30%;
      -webkit-transform: rotate(45deg);
      transform: rotate(0deg);
      transition: all 0.25s ease-in-out;
    }

    &:after{
      content: "";
      width: 100%;
      border-top: 3px solid #ff8a00;
      position: absolute;
      top: 66%;
      transform: rotate(0deg);
      transition: all 0.25s ease-in-out;
    }

    img {
      width: 280px;
      height: 40px;
      position: relative;
      left: 51px;
      top: 6px;
    }

  }

  .nav-component {
    width: 100%;
    height: 100vh;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: -100vw;
      z-index: -1;
      transition: all 0.6s ease-in-out 0.1s;
    }

    .menu-container {
      width: 25%;
      height: 100%;

      .nav-hide{
        .item{
          transform: rotateX(90deg) !important;
        }
      }

      .nav-items {
        padding-top: 150px;

        .item {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: left;
          align-items: center;


          cursor: pointer;
          height: auto;
          min-height: 35px;
          position: relative;

          transform: rotateX(0deg);
          transition: all 0.3s linear;

          .title{
            font-family: $Rajdhani;
            font-weight: $font-variant-bold;
            font-size: 18px;
            text-transform: uppercase;
            flex: 70%;
          }
          .dropdown-ico {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            padding-left: 40px;
            flex: 8%;

            .lines {
              width:14px;
              height: 2px;
              background-color: black;

              &:last-child {
                transform: rotate(90deg);
                position: relative;
                left: -14px;
                transition: all 0.15s linear;
              }
            }
          }

          .dd-open{

          }

          .dropdown-group{
            display: flex;
            flex-direction: column;
            flex: 100%;
            padding-left: 28%;

            .elem{
              width: 100%;
              display: flex;
              justify-content: left;

              align-items: center;
              font-family: $Rajdhani;
              font-weight: $font-variant-medium;
              font-size: 18px;
              text-transform: uppercase;
              cursor: pointer;
              height: 35px;
            }

          }
          .open {
            .lines {
              &:last-child {
                transform: rotate(0deg);
                position: relative;
                left: -14px;
              }
            }
          }

          &:hover{
            .title{
              color: #e03737;
            }
          }
        }
      }

      &:before {
        content: "";
        width: 25%;
        height: 100%;
        position: absolute;
        left: -25vw;
        z-index: -1;
        transition: all 0.3s ease-in;
      }
    }

  }

}


